@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "./mixins.scss";
/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);
/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

.pace .pace-progress {
    background: #2299dd;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    transition: all 1s ease;
}
/**
 * COLORS
 */

$my-red: rgba(255, 79, 54, 1.0);
/**
 * GENERAL
 */

img {
    max-width: 100%;
}

body {
    transition: opacity .25s ease;
}

hr {
    width: 25%;
    text-align: center;
}
/**
 * SPECIFIC
 */

// nav {
//     // background: $my-red;
//     background: black;
//     color: white;
//     position: fixed;
//     width: 100%;
//     z-index: 10;
//     .menu {
//         text-align: right;
//     }
//     button {
//         margin: 0 auto;
//         display: block;
//     }
// }

.fa {
    color: black;
}

#home {
    background: #7accc8;
    // background-image: url(../images/flower.jpg);
    // background-image: url(../images/flower-smaller.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    // // opacity: 0.7;
    min-height: 72rem;
    padding: 28rem 4rem;
    padding-bottom: 3rem;
    text-align: center;
    // // margin-top: -4rem;
    // color: white;
    ////////below not really used/////////
    // text-shadow: 2px 2px 2px black;
    // background-size: cover;
    // background-position: center;
    // margin: 0;
    // opacity: 0.7;
    // min-height: 45rem;
    // padding: 28rem 4rem;
    // text-align: center;
    ////use hr if styling text of .home-item

    // .home {
    //     padding-left: 3rem;
    // }

    // hr {
    //     width: 59%;
    // }

    .home-item {
        padding-bottom: 3rem;
    //     // background: grey;
    //     // border-radius: 10px;
    //     // box-shadow: 0 0 10px black;
    //     width: 47%;
    //     margin-left: 32rem;
    //     // margin: 0 40rem;
    //     color: black;
    //     text-align: center;
    }

    .social-links-home {
        // padding-top: 3rem;
        // text-align: center;
    }

    // .table-home {
    //     padding: 1rem;
    //     width: 24%;
    //     margin-left: 45rem;
    //     text-align: center;
    //     // max-width: 100%;
    //     // margin-bottom: 20px;
    // }

    .arrow-down-home {
        padding-top: 7rem;
    //     width: 24%;
    //     margin-left: 46rem;
    //     text-align: center;
    }
}

#portfolio {
    padding-top: 2.5rem;
    h1 {
        text-align: center;
    }
    hr {
        border-color: black;
    }

    .item-1 {
        background: rgb(148, 131, 250);
    //     padding-bottom: 4rem;
        // height: 41rem;
        margin-bottom: 2rem;
    //     margin-left: 10rem;
    //     margin-right: 10rem;
    //     border: black;
    //     border: 10px;
        box-shadow: 0 0 10px black;
        border-radius: 10px;
        padding-top: 1rem;
    }

    .screen-shot-1 {
    //     img {
    //         width: 43rem;
    //         padding-top: 5rem;
    //     }
    //     width: 50%;
    //     display: inline-block;
    //     padding-left: 10rem;
        padding-top: 7.5rem;
    }

    .screen-shot-2  {
        padding-top: 4.5rem;
    }

    .item-info-1 {
    //     width: 50%;
    //     height: 29rem;
    //     display: inline-block;
    //     padding-left: 4rem;
        // padding-top: 3rem;
    //     padding-right: 10rem;
    }

    .item-info-2 {
        // padding-top: 4rem;
    }

    // .portfolio-item {
    //     padding: 4rem;
    //     margin-bottom: 1rem;
    //     background: darkorchid;
    // }
}

#about {
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    background: lightslategray;
    color: black;
    h1 {
        text-align: center;
    }
    hr {
        border-color: white;
    }
    .aboutme-item {
    //     padding-bottom: 3rem;
        text-align: center;
        .recent-info {
    //         height: 77.7rem;
    //         width: 48%;
    //         margin-left: 1.5rem;
            // margin-right: 1rem;
    //         padding-top: 3rem;
    //         padding-bottom: 3rem;
    //         padding-left: 8rem;
    //         padding-right: 8rem;
    //         border: 10px;
            // box-shadow: 0 0 10px black;
            border-radius: 10px;
    //         border-color: black;
            p {
                padding-left: 10rem;
                padding-right: 8rem;
            }
        }
        .skills {
            font-size: 2rem;
            padding-bottom: 2rem;
            // width: 48%;
            // margin-left: 1rem;
            // padding-left: 0;
            // padding-top: 3rem;
            // padding-bottom: 3rem;
    //         h3 {
    //             color: black;
    //         }
    //         tr {
    // //             display: inline-flex;
    //             font-size: 2rem;
    //         }

            // list that includes icon
            .design-skills {
                // width: 100%;
                // padding-right: 14rem;
                padding-left: 7rem;
            }
            .js-skills {
                // width: 100%;
                padding-left: 7rem;
            }
            .tool-skills-left {
                padding-left: 8rem;
                // padding-right: 15rem;
                // margin-left: -3rem;
                // padding-bottom: 16rem;
            }
            .tool-skills-right {
                // padding-left: 5rem;
                // padding-right: 7rem;
            }

            // icon
            .brush {
                padding-right: 12rem;
            }
            .gears {
                padding-right: 8rem;
            }
            .wrench{
                // padding-left: 9rem;
                padding-right: 3rem;
                padding-bottom: 2rem;
                padding-top: 1rem;
            }
            li {
                text-align: left;

            }

            // each li item
            .design {
            //     padding-right: 5rem;
            }
            .function {
            //     padding-left: 0;
            }
            .tools {
            //     padding-left: 1rem;
            //     padding-right: 0;
            }
    //         border: 10px;
            box-shadow: 0 0 2px black;
            border-radius: 10px;
    //         border-color: black;

        }

        ul {
            // list-style-type: none;
        }
        p {
            //padding-left: 4rem;
            font-size: 2rem;
            text-align: left;
        }
        a {
            color: white;
        }
    //     strong {
    //         color: black;
    //     }
    }
}

// #skills {
//     padding: 3%;
//     text-align: center;
//     h1 {
//         text-align: center;
//     }
//     hr {
//         border-color: black;
//     }
//     .group-of-skills > * {
//         border: 1px solid rgba(200, 0, 0, .3);
//         padding: 3%;
//         img {
//             max-width: 50%;
//         }
//     }
//     .skills-item {
//         margin-bottom: 1rem;
//     }
// }
#contact {
    padding-top: 2.5rem;
    text-align: center;
    background: #7accc8;
    color: black;
    h1 {
        text-align: center;
    }
    hr {
        border-color: white;
    }
    .contactinfo {
        text-align: center;
        p {
            // padding-left: 26rem;
            // padding-right: 26rem;
            font-size: 2rem;
        }
    }
}
