@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "./mixins.scss";
/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);
/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

.pace .pace-progress {
    background: #2299dd;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    transition: all 1s ease;
}
/**
 * COLORS
 */

$my-red: rgba(255, 79, 54, 1.0);
/**
 * GENERAL
 */

img {
    max-width: 100%;
}

body {
    transition: opacity .25s ease;
}

hr {
    width: 25%;
    text-align: center;
}
/**
 * SPECIFIC
 */

// nav {
//     // background: $my-red;
//     background: black;
//     color: white;
//     position: fixed;
//     width: 100%;
//     z-index: 10;
//     .menu {
//         text-align: right;
//     }
//     button {
//         margin: 0 auto;
//         display: block;
//     }
// }

.fa {
    color: black;
}

#home {
    background: #7accc8;
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 72rem;
    padding: 22rem 4rem;
    padding-bottom: 3rem;
    text-align: center;
    .home-item {
        padding-bottom: 3rem;
    }
    .arrow-down-home {
        padding-top: 7rem;
    }
}

#portfolio {
    padding-top: 2.5rem;
    h1 {
        text-align: center;
    }
    hr {
        border-color: black;
    }

    .item-1 {
        background: rgb(148, 131, 250);
        margin-bottom: 2rem;
        box-shadow: 0 0 10px black;
        border-radius: 10px;
        padding-top: 1rem;
    }
    .screen-shot-1 {
        padding-top: 7.5rem;
    }
    .screen-shot-2  {
        padding-top: 4.5rem;
    }
}

#about {
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    background: lightslategray;
    color: black;
    h1 {
        text-align: center;
    }
    hr {
        border-color: white;
    }
    .aboutme-item {
        text-align: center;
        .recent-info {
            p {
                padding-left: 10rem;
                padding-right: 8rem;
            }
        }
        .skills {
            font-size: 2rem;
            padding-bottom: 2rem;

            // list that includes icon
            .design-skills {
                padding-left: 7rem;
            }
            .js-skills {
                padding-left: 7rem;
            }
            .tool-skills-left {
                padding-left: 8rem;
                padding-top: 2rem;
            }
            .tool-skills-right {
                padding-top: 2rem;
            }

            // icon
            .brush {
                padding-right: 12rem;
            }
            .gears {
                padding-right: 8rem;
            }
            .wrench{
                padding-right: 3rem;
                padding-top: 1rem;
            }

            li {
                text-align: left;

            }

            box-shadow: 0 0 2px black;
            border-radius: 10px;
        }

        ul {
            // list-style-type: none;
        }
        p {
            font-size: 2rem;
            text-align: left;
        }
        a {
            color: white;
        }
    }
}

#contact {
    padding-top: 2.5rem;
    text-align: center;
    background: #7accc8;
    color: black;
    h1 {
        text-align: center;
    }
    hr {
        border-color: white;
    }
    .contactinfo {
        text-align: center;
        p {
            font-size: 2rem;
        }
    }
}
